.card__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  align-items: stretch;
  height: 592px;






}

.card__container_l {
  height: 701px;

}

.card__container :hover {
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
