.handleorders__large {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

@media screen and (max-width: 1860px) {
  .handleorders__large {
    grid-gap: 20px;
  }
}


@media screen and (max-width: 1700px) {
  .handleorders__image {
    display: none;

  }
}
