.handleorders__icon {
  width: 38px;
  margin-left: 30px;
  margin-top: 30px;

}


@media screen and (max-width: 1860px) {
  .handleorders__icon {
    width: 24px;
    margin-left: 10px;
    margin-top: 10px;

  }
}

.handleorders__image2 {
  height: 100%;
  width: 300px;
}


@media screen and (max-width: 1700px) {
  .handleorders__image2 {
    display: none;

  }
}
