.promotion__image {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.promotion__image1 {
  width: 100%;
}

@media screen and (max-width: 586px) {
  .promotion__image {
    width: 24px;
    height: 24px;



  }
}

.promotion__icon {
  padding-right: 20px;
  width: 24px
}

@media screen and (max-width: 586px) {
  .promotion__icon {
    padding-right: 10px;

  }
}

