.effectivity__discription {
  box-sizing: border-box;
  padding: 40px 30px;
}


@media screen and (max-width: 1860px) {
  .effectivity__discription {
    display: grid;
    padding: 20px 15px;
    grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 586px) {
  .effectivity__discription {
    grid-template-rows: auto 4fr 1fr;
    height: 100%;
  }
}
