.effectivity__container {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

@media screen and (max-width: 1860px) {
  .effectivity__container {
    grid-gap: 20px;
  }
}

@media screen and (max-width: 586px) {
  .effectivity__container {
    grid-template-columns: none;
    height: 355px;
    grid-template-rows: 1fr 1fr;
  }
}
