.sidebar {
  display: flex;
  flex-direction: column;
  width: 314px;
  top: 0;
  left: -170px;
  margin-right: 40px;
  position: relative;
  background-color: white;
  cursor: pointer;
}


.sidebar_active {
  left: -2px;
  transition: all 0.5s ease;
}


@media screen and (max-width: 586px) {
  .sidebar {
    display: none;

  }
}
