.handleorders__container {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #F2F4F7;
  box-shadow: 0px 4px 4px rgba(68, 118, 145, 0.16);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr auto;
  min-height: 171px;
  text-decoration: none;
}




@media screen and (max-width: 1280px) {
  .handleorders__container {
    grid-template-rows: 58px auto;
    grid-template-columns: none;

  }
}


